.search-result-row {
  border: 1px solid #ababab;
  color: #ababab;
  margin-bottom: 5px;
  font-size: 14px;
}
.search-result-titles {
  color: #0c94e7;
  border-bottom: 1px solid #0c94e7;
  margin-bottom: 15px;
  margin-top: 10px;
  font-size: 16px;
}
.header-titles, .search-result-titles {
  font-weight: 700;
  text-transform: uppercase;
}